<h1>Sitters for Medical</h1>

<h3>Search for Babysitters!</h1>

<form action="/sitters" method="get">
    <input type="text" name="location" placeholder="location:"><br>
    <input type="text" name="experience" placeholder="experience:"><br>
    <input type="text" name="school" placeholder="school:"><br>
    <input type="text" name="willing_range" placeholder="willing to sit for age range:"><br>
    <input type="text" name="gender" placeholder="gender:"><br>
    <input type="integer" name="willing_number"placeholder="willing to sit for this many:"><br>
    <input type="integer" name="age"placeholder="age:"><br>
    <button type="submit">Search</button>
 </form>


 <h3>Search for Health Care Workers!</h1>

 <form action="/hcws" method="get">
    <input type="text" name="location" placeholder="location:"><br>
    <input type="text" name="children_ages" placeholder="ages of children:"><br>
    <input type="text" name="range_possible_hours" placeholder="possible hours needed:"><br>
    <button type="submit">Search</button>
 </form>

